[user]
	name = Satoshi Nagasu
	email = s-nagasu.03@nexsimo.co.jp
[color]
	ui = auto
[core]
	quotepath = false
	fscache = true
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[alias]
	st = status
	stt = status
	cm = commit
	difff = diff --word-diff
	co = checkout
	s = status --short --branch
	b = branch
	l = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	lnp = log --oneline @{u}..HEAD
	unstage = reset HEAD --
	last = log -1 HEAD
[http]
[ghq]
	root = ~/ghq
[push]
	default = matching
